@import('../vendor.styl')
@import('../util.styl')

.fancy-title {
  line-height: 1.6;
  font-size: 32px;
  color: #000;
  margin-right: 10px;
  float left
  margin-top: -12px;
}
.fancy_text {
  font-size 16px
  clear: both;
}
.fancy_en {
  font-size 24px
  color themeColor
  text-transform uppercase
  font-weight 100
  margin-top 7px
}
.title_row {
  margin-bottom 40px
}
.menu_row {
  margin-bottom 50px
}

/*custom_row*/
.custom_row {
  margin-bottom 100px
  .vc_column {
    float left
  }
}
.custom_right {
  width 67%
  padding-left 2%
  .vc_column-box {
    padding 30px
    background #fff
  }
}
.custom_left {
  width 32%
}
.custom_tab {
  margin-bottom 10px
  background #fff
  cursor pointer
  .vc_wrapper {
    padding 10px 20px 10px 30px;
  }
  .vc_column-inner {
    float left
  }
  .fr {
    float right
  }
}
.custom_title {
  font-size: 22px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 3px;
}
.custom_text {
  color: #00cdfb;
}
.active_tab {
  background #00cdfb
  .custom_text,
  .custom_title {
    color #fff
  }
}
.custom_tip {
  color #666
  margin-top 10px
}
.custom_img img {
  display: block;
}
#theme-page {
  .form-field {
    padding-left: 200px;
    position relative
    margin-bottom 13px
    label {
      position absolute
      left 0
      top 5px
      font-size 16px
      font-weight normal
      color #333
      box-shadow: none;
    }
    .frm_description {
      position absolute
      right 8%
      top 10px
      font-size 14px
    }
    select {
      background-color #f3f3f3
      color #333
      border 0
      border-radius 0
      -webkit-appearance none
      background-image url("/wp-content/uploads/2019/11/sel_arrow.png")
      background-repeat no-repeat
      background-position 95% 50%
      height 44px
      box-shadow none
    }
    input {
      background-color #f3f3f3
      color #333
      border 0
      border-radius 0
      -webkit-appearance none
      box-shadow none
      height 44px
    }
  }
  .frm_submit {
    padding-left: 200px;
  }
  .frm_button_submit {
    width 170px
    background themeColor
    color #fff
    border 0
    border-radius 0
    box-shadow none
    padding 0
    line-height 2.75
    font-size 16px
    margin 0
  }
}


@media (max-width: 1600px) {


}

@media (max-width: 767px) {

}