@import('../vendor.styl')
@import('../util.styl')

/*app_row*/
.app_row {
  margin-bottom 80px
  > .vc_wrapper {
    max-width 1620px
  }
}
.app_list {
  li {
    width 33.3333%
    float left
    padding: 0 10px;
    margin-bottom 20px
  }
}
.app_box {
  padding 30px
  background #fff
}
.app_img {
  margin-top 20px
  margin-bottom 10px
  display block
  overflow hidden
  img {
    height 230px
    display block
    transition all 1s ease-in-out
  }
  &:hover {
    img {
      transform scale(1.2)
    }
  }
}
a.app_title {
  line-height: 1.6;
  font-size: 28px;
  color: #000;
  display block
  &:hover {
    color themeColor
  }
}
.app_en {
  font-size 20px
  color themeColor
  text-transform uppercase
  font-weight 100
  line-height: 1
}
.cont_title {
  font-size 18px
  color #333
  margin-bottom 10px
}
.cont_text {
  height 180px
  overflow-y auto
  white-space: pre-wrap;
  font-size 14px
}
.cont_box {
  margin-bottom 15px
}

@media (max-width: 1600px) {
  .app_row {
    margin 0 -10px 80px
  }
}

@media (max-width: 767px) {

}