@import('../vendor.styl')
@import('../util.styl')

.fancy-title {
  line-height: 1.6;
  font-size: 32px;
  color: #000;
  margin-right: 10px;
  float left
  margin-top: -12px;
}
.fancy_text {
  font-size 16px
  clear: both;
}
.fancy_en {
  font-size 24px
  color themeColor
  text-transform uppercase
  font-weight 100
  margin-top 7px
}
.title_row {
  margin-bottom 40px
}

/**/
.single_content {
  margin-bottom 100px
  p {
    margin-bottom 20px
    line-height 1.8
  }
  strong {
    font-weight bold
    font-size 20px
  }
}

@media (max-width: 1600px) {
  .app_row {
    margin 0 -10px
  }
}

@media (max-width: 767px) {

}