.fancy-title {
  line-height: 1.6;
  font-size: 32px;
  color: #000;
  margin-right: 10px;
  float: left;
  margin-top: -12px;
}
.fancy_text {
  font-size: 16px;
  clear: both;
}
.fancy_en {
  font-size: 24px;
  color: #00cdfb;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 7px;
}
.title_row {
  margin-bottom: 70px;
}
/**img_row**/
.img_row1 {
  margin-bottom: 100px;
}
@media (max-width: 1600px) {
  .culture_row {
    margin: 0 -10px 100px;
  }
  .crystal_row {
    margin: 0 -10px 20px;
  }
}
