.fancy-title {
  line-height: 1.6;
  font-size: 32px;
  color: #000;
  margin-right: 10px;
  float: left;
  margin-top: -12px;
}
.fancy_text {
  font-size: 16px;
  clear: both;
}
.fancy_en {
  font-size: 24px;
  color: #00cdfb;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 7px;
}
.title_row {
  margin-bottom: 40px;
}
/**form_row**/
#theme-page .form-field {
  margin-left: 0;
  position: relative;
  padding: 0 10px;
  width: 33.3333%;
}
#theme-page .form-field label {
  position: absolute;
  left: 30px;
  font-weight: normal;
  color: #666;
  top: 14px;
}
#theme-page .form-field input {
  log: true;
  log2: official;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #fff;
  border: 0;
  box-shadow: 0;
  -webkit-appearance: none;
  font-size: 16px;
  height: 50px;
  padding-left: 65px;
  color: #333;
}
#theme-page .form-field textarea {
  background: #fff;
  border: 0;
  box-shadow: 0;
  -webkit-appearance: none;
  font-size: 16px;
  log: true;
  log2: official;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 130px;
  padding-left: 65px;
  padding-top: 14px;
  color: #333;
}
#theme-page .frm_submit {
  text-align: center;
  margin-bottom: 100px;
}
#theme-page .frm_button_submit {
  width: 170px;
  background: #00cdfb;
  color: #fff;
  border: 0;
  log: true;
  log2: official;
  -webkit-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  line-height: 2.75;
  font-size: 16px;
  margin: 0;
}
/**contact_row**/
.contact_row {
  margin-bottom: 70px;
}
.contact_row .vc_column {
  float: left;
}
.contact_row .vc_row {
  margin-bottom: 20px;
}
.contact_row .vc_row >.vc_wrapper {
  background: #fff;
  padding: 10px 20px;
}
.contact_left {
  width: 60%;
}
.contact_right {
  width: 40%;
  padding-left: 20px;
}
.addr_title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #000;
}
.contact_text img {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -2px;
}
.contact_text p {
  margin-bottom: 8px;
}
@media (max-width: 1600px) {
  .culture_row {
    margin: 0 -10px 100px;
  }
  .crystal_row {
    margin: 0 -10px 20px;
  }
}
