html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a {
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  log: true;
  log2: official;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  width: 100%;
}
body {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
  font-family: '微软雅黑', '黑体', Arial, Sans-serif;
  background: #f3f3f3;
}
a,
a:link,
a:visited {
  color: #666;
}
a:hover {
  color: #00cdfb;
  text-decoration: none;
}
a {
  log: true;
  log2: official;
  -webkit-transition: all 0.3s;
  -khtml-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
select:focus,
video:focus,
input:focus,
button:focus {
  outline: 0;
}
img {
  max-width: 100%;
  log: true;
  log2: official;
  -webkit-transition: all 0.3s ease-in-out;
  -khtml-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  line-height: 1;
  height: auto;
}
.clearboth {
  clear: both;
}
.vc_row > .vc_wrapper {
  max-width: 1600px;
  margin: 0 auto;
}
::-webkit-input-placeholder {
/* WebKit, Blink, Edge */
  color: #ccc;
}
:-moz-placeholder {
/* Mozilla Firefox 4 to 18 */
  color: #ccc;
}
::-moz-placeholder {
/* Mozilla Firefox 19+ */
  color: #ccc;
}
:-ms-input-placeholder {
/* Internet Explorer 10-11 */
  color: #ccc;
}
.adaptive-swiper .swiper-container {
  overflow: visible;
}
.vc_video-box {
  position: relative;
}
.vc_video-poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  log: true;
  log2: official;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  log: true;
  log2: official;
  -webkit-transition: all 0.3s;
  -khtml-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.vc_video-poster:before {
  content: '';
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0,0,0,0.1);
}
.vc_video-poster:after {
  content: '';
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  width: 80px;
  height: 80px;
  z-index: 2;
  background: url("/wp-content/uploads/2019/11/play_btn.png") no-repeat center/contain;
}
.vc_video-poster:hover:after {
  background-image: url("/wp-content/uploads/2019/11/play_btn_active.png");
}
.vc_video-play .vc_video-poster {
  log: true;
  log2: official;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: -1;
}
.m_visible {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: none;
}
html .hide {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: none;
}
.pagination.swiper-pagination-bullets {
  text-align: center;
}
.theme-page {
  margin-top: 68px;
}
/*banner*/
.banner_row {
  padding: 100px 0;
  position: relative;
  color: #fff;
}
.banner_en,
.banner_title {
  font-size: 32px;
  line-height: 1.4;
}
.banner_en {
  font-weight: 100;
  text-transform: uppercase;
}
/*menu_row*/
.menu_row {
  background: #fff;
  height: 68px;
  line-height: 68px;
  margin-bottom: 70px;
}
.menu_left {
  float: left;
}
.menu_right {
  float: right;
}
.menu_right .menu:after {
  content: '';
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: block;
  clear: both;
}
.menu_right .menu-item {
  padding: 0 15px;
  height: 100%;
  position: relative;
  margin-left: 20px;
  float: left;
}
.menu_right .menu-item a {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: block;
  height: 100%;
  color: #000;
}
.menu_right .menu-item a:hover {
  color: #00cdfb;
}
.menu_right .current-menu-item {
  position: relative;
}
.menu_right .current-menu-item a {
  color: #00cdfb;
}
.menu_right .current-menu-item:after {
  content: '';
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #00cdfb;
}
@media (max-width: 1600px) {
  .vc_row > .vc_wrapper {
    padding: 0 4%;
  }
}
@media (max-width: 1400px) {
  .menu_right .menu-item {
    padding: 0 10px;
    height: 100%;
    position: relative;
    margin-left: 15px;
    float: left;
}
}
@media (max-width: 1300px) {
  .menu_right .menu-item {
    padding: 0 10px;
    height: 100%;
    position: relative;
    margin-left: 7px;
    float: left;
}
}
@media (max-width: 767px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .m_visible {
    display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
    display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
    display: block;
  }
  .pc_visible {
    display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
    display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
    display: none;
  }
  .adaptive-swiper .swiper-container {
    overflow: hidden;
  }
  .vc_video-poster:after {
    log: true;
    log2: official;
    -webkit-background-size: 60px;
    -moz-background-size: 60px;
    background-size: 60px;
  }
/*  导航栏*/
  .menu_right {
    float: right;
    width: 100%;
}
  .menu-about-menu-container {
    float: none;
}
  ul#menu-about-menu {
    width: 100%;
    overflow-y: scroll;
    display: flex;
    margin-bottom: 30px;
}
  ul#menu-about-menu li a {
    width: 85px;
    text-align: center;
}
  .menu_right .menu {
    width: 100%;
    overflow-y: scroll;
    display: flex;
    margin-bottom: 30px;
}
  .menu_right .menu li a {
    width: auto;
    padding: 0 5px;
    text-align: center;
    white-space:nowrap;
}
  .menu-about-menu-container .menu-item {
     margin-left: 0px;
}
  .menu_left {
    float: left;
    width: 100%;
    overflow-y: scroll;
}
  .mk-text-block.bread {
    white-space: nowrap;
}
}
