@import('../vendor.styl')

.single_title {
  font-size: 30px;
  color: #333333;
  text-align: center;
  margin-bottom: 20px;
}
.single_sub_text {
  margin-bottom 30px
  color: #999999;
  text-align: right;
  span {
    margin-left 20px
  }
  img {
    margin-right: 10px;
  }
}
.single-content {
  margin-bottom 60px
  p {
    line-height 2
    margin-bottom 30px
    text-align justify
  }
  .aligncenter {
    margin 0 auto
    display: block;
  }
}
.single_prev {
  color: #333333;
  font-size: 18px;
  margin-bottom: 40px;
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
}


@media (max-width: 1200px){

}

@media (max-width: 767px) {

}

